@font-face {
  font-family:"iconfont";
  /* Project id 2827523 */
  src: url('//at.alicdn.com/t/font_2827523_b9x5syr8gzf.woff2?t=1641983538946') format('woff2'), url('//at.alicdn.com/t/font_2827523_b9x5syr8gzf.woff?t=1641983538946') format('woff'), url('//at.alicdn.com/t/font_2827523_b9x5syr8gzf.ttf?t=1641983538946') format('truetype');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wode:before {
  content:"\e603";
}
.icon-yinle:before {
  content:"\e72a";
}
.icon-cha:before {
  content:"\e61a";
}
.icon-chacha:before {
  content:"\e62e";
}
.icon-sousou:before {
  content:"\e63a";
}
.icon-jiangbei-3:before {
  content:"\e6b9";
}
.icon-jiangbei-4:before {
  content:"\e6ba";
}
.icon-jiangbei-5:before {
  content:"\e6bb";
}
.icon-jiangbei-:before {
  content:"\e6b3";
}
.icon-jiangbei-1:before {
  content:"\e6b4";
}
.icon-jiangbei-2:before {
  content:"\e6b5";
}
.icon-caidan:before {
  content:"\e666";
}
.icon-24gl-pause:before {
  content:"\ea6d";
}
.icon-24gl-play:before {
  content:"\ea6e";
}
.icon-danquxunhuan:before {
  content:"\e6a3";
}
.icon-suijibofang:before {
  content:"\e6a0";
}
.icon-shunxubofang:before {
  content:"\e6a1";
}
.icon-bofang:before {
  content:"\e624";
}
.icon-bofangzhong:before {
  content:"\e68f";
}
.icon-zanting:before {
  content:"\e691";
}
.icon-shangyiqu:before {
  content:"\e692";
}
.icon-xiayiqu:before {
  content:"\e693";
}
.icon-shoucang:before {
  content:"\e69a";
}
.icon-liebiaoxunhuan:before {
  content:"\e6a2";
}
.icon-xiangxia:before {
  content:"\e600";
}
.icon-Play:before {
  content:"\e655";
}
.icon-fanhui:before {
  content:"\e613";
}