@font-face {
  font-family:"iconfont";
  /* Project id 2827523 */
  src: url('//at.alicdn.com/t/font_2827523_cc5o1fhx5f5.woff2?t=1633313468015') format('woff2'), url('//at.alicdn.com/t/font_2827523_cc5o1fhx5f5.woff?t=1633313468015') format('woff'), url('//at.alicdn.com/t/font_2827523_cc5o1fhx5f5.ttf?t=1633313468015') format('truetype');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-xiangxia:before {
  content:"\e600";
}
.icon-Play:before {
  content:"\e655";
}
.icon-fanhui:before {
  content:"\e613";
}