@font-face {
  font-family:"iconfont";
  /* Project id 2827523 */
  src: url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.woff2?t=1633335022990') format('woff2'), url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.woff?t=1633335022990') format('woff'), url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.ttf?t=1633335022990') format('truetype');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bofang:before {
  content:"\e624";
}
.icon-bofangzhong:before {
  content:"\e68f";
}
.icon-zanting:before {
  content:"\e691";
}
.icon-shangyiqu:before {
  content:"\e692";
}
.icon-xiayiqu:before {
  content:"\e693";
}
.icon-shoucang:before {
  content:"\e69a";
}
.icon-liebiaoxunhuan:before {
  content:"\e6a2";
}
.icon-xiangxia:before {
  content:"\e600";
}
.icon-Play:before {
  content:"\e655";
}
.icon-fanhui:before {
  content:"\e613";
}@font-face {
  font-family:"iconfont";
  /* Project id 2827523 */
  src: url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.woff2?t=1633335022990') format('woff2'), url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.woff?t=1633335022990') format('woff'), url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.ttf?t=1633335022990') format('truetype');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bofang:before {
  content:"\e624";
}
.icon-bofangzhong:before {
  content:"\e68f";
}
.icon-zanting:before {
  content:"\e691";
}
.icon-shangyiqu:before {
  content:"\e692";
}
.icon-xiayiqu:before {
  content:"\e693";
}
.icon-shoucang:before {
  content:"\e69a";
}
.icon-liebiaoxunhuan:before {
  content:"\e6a2";
}
.icon-xiangxia:before {
  content:"\e600";
}
.icon-Play:before {
  content:"\e655";
}
.icon-fanhui:before {
  content:"\e613";
}@font-face {
  font-family:"iconfont";
  /* Project id 2827523 */
  src: url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.woff2?t=1633335022990') format('woff2'), url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.woff?t=1633335022990') format('woff'), url('//at.alicdn.com/t/font_2827523_5yf44aq7oe9.ttf?t=1633335022990') format('truetype');
}
.iconfont {
  font-family:"iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-bofang:before {
  content:"\e624";
}
.icon-bofangzhong:before {
  content:"\e68f";
}
.icon-zanting:before {
  content:"\e691";
}
.icon-shangyiqu:before {
  content:"\e692";
}
.icon-xiayiqu:before {
  content:"\e693";
}
.icon-shoucang:before {
  content:"\e69a";
}
.icon-liebiaoxunhuan:before {
  content:"\e6a2";
}
.icon-xiangxia:before {
  content:"\e600";
}
.icon-Play:before {
  content:"\e655";
}
.icon-fanhui:before {
  content:"\e613";
}